<ion-header *ngIf="skeleton">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Logs-Summary
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="skeleton">
	<div class="header pt-2">
		<ion-card class="mt-5">
			<ion-card-header>
				<ion-card-subtitle>
					<div class="input-group bg-white input-group-alternative">
						<div class="input-group date">
							<input type="text" class="form-control" id="example1" placeholder="to">
							<input type="text" class="form-control" id="example2" placeholder="from">
						</div>
					</div>
				</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content class="p-0">
				<div class="table-responsive">
					<table class="table justify-content-center" style="box-shadow: 10px">
						<thead class="thead-light">
							<tr>
								<th *ngIf="userInfo.userRole == 'admin'" scope="col">Name</th>
								<th scope="col">Date</th>
								<th scope="col">day</th>
								<th scope="col">Hr worked</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let data of logs  | paginate:{itemsPerPage: 10, currentPage:p}; let i = index">
								<tr  *ngIf="data.message" [ngStyle]="{'background-color':getBackGroundColorSingleEmployee(data.message) , 'color' : getColorSingleEmployee(data.message)}">
									<td  >{{data.date}}</td>
									<td colspan="3" align="center">{{data.message}}</td>
								</tr>
								<tr  *ngIf="!data.message && data.seconds" id="viewMore" (click)="openModel(10 * (p - 1) + i)"  style="border-left: 6px solid red; margin-top: 1px" [ngStyle]="{'background-color':getBackGroundColorSingleEmployee(data.seconds) , 'color' : getColorSingleEmployee(data.seconds)}">
									<th scope="row" class="nameClick" *ngIf="userInfo.userRole == 'admin'" [routerLink]="['/all-users/user-detail/' ,data.user[0]._id]">
										{{ data.user[0].name }}
									</th>
									<td scope="row">
										{{ data.date }}
									</td>
									<td>
										{{data.day}}
									</td>
									<td>
										{{data.diffrence}}
									</td>
								</tr>
								<tr  *ngIf="!data.message && !data.seconds" id="viewMore" (click)="openModel(10 * (p - 1) + i)">
									<th scope="row" class="nameClick" *ngIf="userInfo.userRole == 'admin'" [routerLink]="['/all-users/user-detail/' ,data.user[0]._id]">
										{{ data.user[0].name }}
									</th>
									<th scope="row">
										{{ data.date }}
									</th>
									<td>
										{{data.day}}
									</td>
									<td>
										{{data.diffrence}}
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
					<div scope="row" *ngIf="logs == '' ? true : false">
						<h3 class="text-center p-2">{{totalHoursToEmp}}</h3>
					</div>   
				</div>
				<div class="card-footer py-3 bg-white">
					<pagination-controls   (pageChange)="p=$event"></pagination-controls>
				</div>
			</ion-card-content>
		</ion-card>
	</div>

	<!-- The Modal -->
	<div class="modal fade" id="myModal" >
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content text-dark">
				<!-- Modal Header -->
				<div class="modal-header" *ngIf="modelValue">
					<h4 class="modal-title">{{modelValue.day}} &nbsp;-&nbsp; {{modelValue.date}}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" *ngIf="modelValue">
					<h3 align="center"><u>Time log </u></h3>
					<div class="form-group" style="overflow: auto; ; max-height: 350px">
						<table align="center" style="width: 100% " cellpadding="10px" *ngIf="modelValue">
							<tr align="center">
								<th>No.</th> 
								<th>In</th>
								<th>Out</th>
							</tr>
							<tr *ngFor="let time of modelValue.timeLog ; let i = index" align="center"> 
								<td>{{i+1}}</td>
								<td>{{time.in}}</td>
								<td>{{time.out}}</td>
							</tr>
						</table>
					</div>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
</ion-content>


<ion-header *ngIf="!skeleton">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Logs-Summary
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="!skeleton">
	<div class="header pt-2">
		<ion-card class="mt-5">
			<ion-card-header>
				<ion-card-subtitle>
					<div class="input-group bg-white input-group-alternative">
						<div class="input-group date">
							<input type="text" class="form-control" id="example1" placeholder="to">
							<input type="text" class="form-control" id="example2" placeholder="from">
						</div>
					</div>
				</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content class="p-0">
				<div class="table-responsive">
					<table class="table justify-content-center" style="box-shadow: 10px">
						<thead class="thead-light">
							<tr>
								<th *ngIf="userInfo.userRole == 'admin'" scope="col">
									<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
								</th>
								<th scope="col">
									<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
								</th>
								<th scope="col">
									<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
								</th>
								<th scope="col">
									<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
								</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let data of logs  | paginate:{itemsPerPage: 10, currentPage:p}; let i = index" >
								<tr  *ngIf="data.message" [ngStyle]="{'background-color':getBackGroundColorSingleEmployee(data.message) , 'color' : getColorSingleEmployee(data.message)}">
									<td>
										<ion-skeleton-text animated style="width: 60%; margin: auto; height: 15px;"></ion-skeleton-text>
									</td>
									<td colspan="3" align="center">
										<ion-skeleton-text animated style="width: 70%; margin: auto; height: 15px;"></ion-skeleton-text>
									</td>
								</tr>
								<tr  *ngIf="!data.message && data.seconds" id="viewMore" (click)="openModel(10 * (p - 1) + i)"  style="border-left: 6px solid red; margin-top: 1px" [ngStyle]="{'background-color':getBackGroundColorSingleEmployee(data.seconds) , 'color' : getColorSingleEmployee(data.seconds)}">
									<th scope="row" class="nameClick" *ngIf="userInfo.userRole == 'admin'" [routerLink]="['/all-users/user-detail/' ,data.user[0]._id]">
										<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
									</th>
									<td scope="row">
										<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
									</td>
									<td>
										<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
									</td>
									<td>
										<ion-skeleton-text animated style="width: 35%; margin: auto; height: 15px;"></ion-skeleton-text>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<div class="card-footer py-3 bg-white">
					<pagination-controls   (pageChange)="p=$event"></pagination-controls>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>



