.profile-card__cnt {
  margin-top: -35px;
  padding-bottom: 20px;
  transition: all 0.3s;
}
.profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 15px 35px;
  padding: 15px 20px;
  min-width: 100px;
  border-radius: 50px;
  min-height: 30px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.card-item{
  margin-top: 40px;  
}

.card{
  width: 100%;
  height: 100%;
  background-color: #ffe104;
  background-image: linear-gradient(147deg, #ffe104 0%, #f58a09 13%, #ff0003 66%, #ff0004 100%);


  &-item{
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    // margin: 30px;
    border-radius: 30px;
    box-shadow: 0 8px 20px 10px rgba(89,56,49, .16);
    overflow: hidden;
    z-index: 22;
    transition: all .3s;
    border: 0px solid rgba(255,255,255,.3) ;
  }

  &-header{
    width: 100%;
    position: relative;

    &__bg{
      width: calc(100% + 50px);
      height: 240px;
      border-radius: 50%;
      margin-left: 50%;
      margin-top: -32%;
      transform: translateX(-50%);
      z-index: 22;
      box-shadow: 0 0 28px 10px rgba(234,51,10,0.3);
      background-color: #FF2525;
      background-image: linear-gradient(281deg, #FF0000 6%,#FF0000 38%, #F7AD0D 100%);

    }

    &__img{
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50px);
      padding: 0;
      visibility: visible;
      border: 0px solid rgba(255,255,255,.6);
      display: block;
      box-shadow: 0px 9px 28px 8px rgba(93,93,93,0.2);
      transition: all .5s;
      margin-top: -23px;
    }

    &__name{
      text-align: center;
      display: block;
      font-weight: 700;
      font-size: 20px;
      color: #565656;
      letter-spacing: 1px;
      margin-top: -35px;
    }

    &__job{
      text-align: center;
      display: block;
      color: #525151;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}



