<ion-header *ngIf="skeleton">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			My-Profile
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="skeleton">
	<div class="container mt-5 mb-5">
		<div class="card-item">
			<div class="card-header">
				<div class="card-header__bg"></div>
				<img src="/assets/icon/default-profile.png" class="card-header__img">
				<div class="card-header__text">
					<span class="card-header__name">
						{{name}}
					</span>
					<span class="card-header__job">
						{{designation}}
					</span>
				</div>
			</div>

			<div class="profile-card__cnt">
				<div class="container-fluid mt-5">
					<div class="row text-dark">
						<div class="col-4 pr-0">
							<div class="mt-4">
								<h6>E-mail : </h6>
							</div>
							<div class="mt-4">
								<h6>Name : </h6>
							</div>
							<div class="mt-4">
								<h6>Password : </h6>
							</div>
							<div class="mt-4">
								<h6>Designation : </h6>
							</div>
							<div class="mt-4">
								<h6>User Role : </h6>
							</div>
							<div class="mt-4">
								<h6>Branch : </h6>
							</div>
						</div>
						<div class="col-8 pl-0" *ngIf="allUser">
							<div *ngFor="let val of allData" >
								<div class="mt-4">
									<h6 >{{val.email}}</h6>
								</div>
								<div class="mt-4">
									<h6 >{{val.name}}</h6>
								</div>
								<div class="mt-4">
									<h6 >{{val.password}}</h6>
								</div>
								<div class="mt-4">
									<h6 >{{val.designation}}</h6>
								</div>
								<div class="mt-4">
									<h6 >{{val.userRole}}</h6>
								</div>
								<div class="mt-4">
									<h6 >{{val.branch}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-card-ctr text-center m-auto">
					<button class="profile-card__button button--blue" (click)="editProfile()">Update Profiles</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>

<!-- Skeleton Loader-->
<ion-header *ngIf="!skeleton">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			My-Profile
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="!skeleton">
	<div class="container mt-5">
		<div class="card-item">
			<div class="card-header">
				<div class="card-header__bg"></div>
				<img src="/assets/icon/default-profile.png" class="card-header__img">
				<div class="card-header__text">
					<span class="card-header__name">
						<ion-skeleton-text animated style="width: 40%; margin: auto; height: 15px;"></ion-skeleton-text>
					</span>
					<span class="card-header__job mt-1">
						<ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text>
					</span>
				</div>
			</div>
			
			<div class="profile-card__cnt">
				<div class="container-fluid mt-5 mb-5">
					<div class="row text-dark">
						<div class="col-4 pr-0">
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 40%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 45%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 45%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6><ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
						</div>
						<div class="col-8 pl-0">
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 70%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 45%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 65%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 50%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
							<div class="mt-4">
								<h6 ><ion-skeleton-text animated style="width: 40%; margin: auto; height: 15px;"></ion-skeleton-text></h6>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-card-ctr text-center m-auto">
					<button class="profile-card__button button--blue" (click)="editProfile()">Update Profiles</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
