<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			User-Profile
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary">
	<div class="container-fluid mt-5" *ngIf="edit">
		<div class="emp-profile">
			<div class="row">
				<div class="col-7">
					<h6 style="color: black; " *ngIf="userInfo">
						{{edit.name}}
					</h6>
					<p style="color: black; font-size: 15px;" *ngIf="userInfo">
						{{edit.designation}}
					</p>
				</div>
				<div class="col-5">
					<h1 class="text-center">
						<button class="btn btn-sm btn-primary profile-edit-btn p-2 text-white" type="submit" (click)="editProfile()" value="Edit Profile">Edit Profile</button>
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<form [formGroup]="myForm">
						<div class="row">
							<div class="col-xl-6">
								<div class="form-group">
									<label>E-mail : </label>
									<div class="input-group input-group-merge input-group-alternative">
										<input class="form-control user_profile" formControlName="email" [(ngModel)]="edit.email" placeholder="E-mail" type="text" readOnly>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label>Name : </label>
									<div class="input-group input-group-merge input-group-alternative">
										<input class="form-control user_profile" formControlName="name" [(ngModel)]="edit.name" placeholder="Name" type="text" readOnly>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label>Password : </label>
									<div class="input-group input-group-merge input-group-alternative">
										<input class="form-control user_profile" formControlName="password" [(ngModel)]="edit.password" placeholder="password" [type]="password" readonly>
										<button class="btn btn-icon btn-default"  (click)="viewPass()" style="background: #172B4D; color: white; font-size: 15px;">
											<ion-icon name="eye" *ngIf="show"></ion-icon>
											<ion-icon name="eye-off" *ngIf="!show"></ion-icon>
										</button>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label>Designation : </label>
									<div class="input-group input-group-merge input-group-alternative">
										<input class="form-control user_profile" formControlName="designation" placeholder="Designation" [(ngModel)]="edit.designation" type="text" readOnly>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>User Role : </label>
											<div class="input-group input-group-merge input-group-alternative">
												<input class="form-control user_profile" formControlName="userRole" [(ngModel)]="edit.userRole" placeholder="User Role" type="text" readOnly>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>Branch : </label>
											<div class="input-group input-group-merge input-group-alternative">
												<input class="form-control user_profile" formControlName="branch" [(ngModel)]="edit.branch" placeholder="branch" type="text" readOnly>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ion-content>
