.password_modal{
	background: aliceblue;
}
.modal {
    padding-top: 5rem !important;
    padding-left: 25px;
    padding-right: 25px;
}
.pass_modal {
	font-size: 1rem;
}
.card-body{
	padding: 0.25rem;
}