.password_modal{
	background: aliceblue;
}
.modal {
    padding-top: 5rem !important;
    padding-left: 31px;
    padding-right: 30px;
}
.pass_modal {
	font-size: 1rem;
}
.card-body{
	padding: 0.25rem;
}