.card-text{
	font-size: 16px;
}
.cart-footer-text{
	font-size: 17px;
}

.header{
	width: 100%;
	background-size: auto; 
	object-fit: cover;
	background-repeat: repeat;
}


/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
